@charset "UTF-8";
@keyframes pulsate {
    0%{
        box-shadow: 
        0 0 20px #ffffff,
        0 0 20px rgb(253, 171, 171);
    }
}

:root {
    --cor1:#d3d3d325;
    --cor2:#000000c8;
    --cor3:#;
    --cor4:#;
    --cor5:#;

    --fonte-padrao: Arial,verdana,helvetica,sans-serif
}

body {
    font-family: Garamond, serif;
    margin: 0;
    padding: 0;
    background: url('https://i.postimg.cc/mD49cVKT/1738713596328.jpg')no-repeat center center fixed;
    background-size: cover; /* Faz a imagem cobrir todo o fundo sem cortes */
    position: relative; /* Mantém a posição correta */
    min-height: 100vh; /* Garante que o fundo ocupe toda a tela */
}

body::before {
    content: "";
    position: fixed; /* Mantém a sobreposição fixa na tela */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Fundo preto semi-transparente */
    z-index: -1; /* Mantém a camada atrás do conteúdo */
}
article {
    background-color: #d3d3d325;
    padding: 5px;
    border-radius: 30px;
}


header {
    background-color: #000000c8; /* Cor de fundo com leve transparência */
    color: white; /* Cor do texto */
    text-align: center; /* Centraliza o texto */
    padding: 40px 20px; /* Espaçamento superior e inferior com padding lateral ajustado */
    width: 100%; /* Garante que ocupe toda a largura disponível */
    box-sizing: border-box; /* Garante que o padding não afete a largura do elemento */
}


header h1 {
    font-family: 'Garamond', sans-serif; /* Define a fonte */
    margin: 10px 0; /* Adiciona espaço entre os títulos */
    font-size: 1.9rem; /* Tamanho de fonte para telas maiores */
    line-height: 1.4; /* Ajusta o espaçamento entre as linhas */
}




/* Estilo padrão (para PC e telas maiores) */
nav {
    background-color: #333;
    width: 100%;  /* Garante que ocupe 100% da largura da tela */
    padding: 20px;
    margin-bottom: 4px;
}






nav a {
    color: white;
    text-decoration: none;
    padding: 15px 20px;
    font-size: 1.2em;
    margin-left: 20px;
}

nav a:hover {
    background-color: #000;
    animation: pulsate 1s ease-in-out forwards;
    border-radius: 10px;
    border: 2px solid black;
}
nav > a:active {
    border-radius: 10px;
}
#sobre_nos {
    padding: 23px;
    margin: 15px;
}
section {
    padding: 20px;
    margin: 15px;
    color: white;
    background-color:var(--cor2);
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.507);
    border-radius: 10px;

}




footer {
    text-align: center;
    padding: 10px 0;
    background-color: #333333;
    color: white;
}

.contact-link {
    display: inline-block;
    background-color: #5dce00;
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.contact-link:hover {
    background-color: #00a996;
}



.image1-M {
    border-radius: 10px;
    margin: 10px;
}

.image {
    width: 100%;
    height: 300px;
    border-radius: 5%;
    background-size: cover;
    background-position: center;
}



/* Tamanho das imagens para "Viagens Pré-marcadas" - Desktop */
.viagens_pre_marcadas-image {
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 300px;  /* Tamanho padrão */
    border-radius: 5%;
    margin-bottom: 10px;
    text-align: center;
}

/* Tamanho específico para a primeira imagem */
.image-viagem-1 {
    background-size: cover;
    background-position: center center;
    width: 170%;
    height: 500px;  /* Tamanho maior */
    border-radius: 5%;
    margin-bottom: 10px;
    text-align: center;
}
/* Ajuste para o tamanho da fonte da classe .destino */
.destino1 {
    font-size: 16px; /* Tamanho padrão da fonte para telas pequenas */
    font-family: times, sans-serif; /* Fonte padrão do sistema */
    text-align: left; /* Alinha o texto à esquerda */
    display: inline-block; /* Faz o texto aparecer ao lado de outros elementos */
    margin-right: 10px; /* Ajuste se necessário para o espaçamento */
}



/* Tamanho específico para a segunda imagem */
.image-viagem-2 {
    background-size: cover;
    background-position: center center;
    width: 170%;
    height: 500px;  /* Tamanho maior */
    border-radius: 5%;
    margin-bottom: 10px;
    text-align: center;
    margin-left: -103px; /* Ajuste conforme necessário */
}
/* Ajuste para o tamanho da fonte da classe .destino */
.destino2 {
    font-size: 16px; /* Tamanho padrão da fonte para telas pequenas */
    font-family: times, sans-serif; /* Fonte padrão do sistema */
    text-align: left; /* Alinha o texto à esquerda */
    display: inline-block; /* Faz o texto aparecer ao lado de outros elementos */
    margin-right: 10px; /* Ajuste se necessário para o espaçamento */
}




/* Tamanho específico para a terceira imagem */
.image-viagem-3 {
    background-size: cover;
    background-position: center center;
    width: 170%;
    height: 500px;  /* Tamanho maior */
    border-radius: 5%;
    margin-bottom: 10px;
    text-align: center;
    margin-left: -200px; /* Ajuste conforme necessário */
}

/* Ajuste para o tamanho da fonte da classe .destino */
.destino3 {
    font-size: 16px; /* Tamanho padrão da fonte para telas pequenas */
    font-family: times, sans-serif; /* Fonte padrão do sistema */
    text-align: left; /* Alinha o texto à esquerda */
    display: inline-block; /* Faz o texto aparecer ao lado de outros elementos */
    margin-right: 10px; /* Ajuste se necessário para o espaçamento */
}





/* Estilo para o info-box */
.info-box {

   
    border: 2px solid #ffffff; /* Borda destacada */
    padding: 25px 30px; /* Aumentar o preenchimento para dar mais espaçamento */
    max-width: 100%; /* Ajusta a largura para o tamanho da tela */
    margin-top: 30px; /* Espaçamento maior do conteúdo acima */
    position: relative;
    z-index: 10; /* Garante que o box fique sobre outros elementos */
    box-sizing: border-box;
    text-align: center;
    border-radius: 25px; /* Borda mais arredondada */
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3); /* Sombra para dar profundidade */
    animation: fadeIn 1s ease-out; /* Animação de fade-in para chamar atenção */
}

/* Animação */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.info-box p {
    font-size: 20px; /* Aumenta o tamanho da fonte */
    color: #ffffff; /* Cor do texto branca */
    font-family: 'Arial', sans-serif; /* Fonte mais limpa e moderna */
    margin: 0;
    font-weight: bold; /* Deixa o texto em negrito */
    letter-spacing: 1px; /* Aumenta o espaçamento das letras */
}




/* Tamanho das imagens para "Rotas" */
.rotas-imagem {
    background-size: cover;
    background-position: center center;
    width: 100%; /* Corrige a largura para 100% do contêiner */
    height: 300px; /* Tamanho padrão */
    max-width: 100%; /* Não ultrapassa a largura do contêiner */
    min-width: 200px; /* Largura mínima */
    max-height: 400px; /* Altura máxima */
    min-height: 250px; /* Altura mínima */
    border-radius: 5%;
    margin-bottom: 10px;
    text-align: center;
    transition: all 0.3s ease-in-out; /* Para transições suaves */
}


/* Tamanho específico para a primeira imagem - quadrada */
.image-rota-1 {
    width: 500px;  /* Define a largura */
    height: 500px;  /* Define a altura igual à largura para manter o formato quadrado */
    max-width: 100%;
    min-width: 150px;  /* Largura mínima ajustada para manter a proporção */
    min-height: 150px; /* Altura mínima ajustada para manter a proporção */
    margin-bottom: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Sombra para efeito */
    background-size: cover; /* Garante que a imagem cubra todo o espaço */
    background-position: center; /* Centraliza a imagem */
}

/* Tamanho específico para a segunda imagem - quadrada */
.image-rota-2 {
    width: 500px;  /* Define a largura */
    height:500px;  /* Define a altura igual à largura para manter o formato quadrado */
    max-width: 100%;
    min-width: 150px;  /* Largura mínima ajustada para manter a proporção */
    min-height: 150px; /* Altura mínima ajustada para manter a proporção */
    margin-bottom: 10px;
    border: 2px solid #ddd; /* Adiciona borda ao redor da imagem */
    background-size: cover; /* Garante que a imagem cubra todo o espaço */
    background-position: center; /* Centraliza a imagem */
}

/* Tamanho específico para a terceira imagem - quadrada */
.image-rota-3 {
    width: 500px;  /* Define a largura */
    height:  500px;  /* Define a altura igual à largura para manter o formato quadrado */
    max-width: 100%;
    min-width: 150px;  /* Largura mínima ajustada para manter a proporção */
    min-height: 150px; /* Altura mínima ajustada para manter a proporção */
    margin-bottom: 10px;
    border-radius: 10px; /* Aumenta o arredondamento das bordas */
    background-size: cover; /* Garante que a imagem cubra todo o espaço */
    background-position: center; /* Centraliza a imagem */
}

/* Tamanho específico para a quarta imagem - quadrada */
.image-rota-4 {
    width: 500px;  /* Define a largura */
    height: 500px;  /* Define a altura igual à largura para manter o formato quadrado */
    max-width: 100%;
    min-width: 150px;  /* Largura mínima ajustada para manter a proporção */
    min-height: 150px; /* Altura mínima ajustada para manter a proporção */
    margin-bottom: 10px;
    opacity: 0.9; /* Torna a imagem um pouco mais translúcida */
    background-size: cover; /* Garante que a imagem cubra todo o espaço */
    background-position: center; /* Centraliza a imagem */
}


/* Estilo para o info-box */
.info-box {
    background: linear-gradient(145deg, #57575797, #2e2d2d6a); /* Gradiente de cores para dar mais vida */
    border: 2px solid #ffffff; /* Borda destacada */
    padding: 25px 30px; /* Aumentar o preenchimento para dar mais espaçamento */
    max-width: 100%; /* Ajusta a largura para o tamanho da tela */
    margin-top: 30px; /* Espaçamento maior do conteúdo acima */
    position: relative;
    z-index: 10; /* Garante que o box fique sobre outros elementos */
    box-sizing: border-box;
    text-align: center;
    border-radius: 25px; /* Borda mais arredondada */
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3); /* Sombra para dar profundidade */
    animation: fadeIn 1s ease-out; /* Animação de fade-in para chamar atenção */
}

/* Animação */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.info-box p {
    font-size: 20px; /* Aumenta o tamanho da fonte */
    color: #ffffff; /* Cor do texto branca */
    font-family: 'Arial', sans-serif; /* Fonte mais limpa e moderna */
    margin: 0;
    font-weight: bold; /* Deixa o texto em negrito */
    letter-spacing: 1px; /* Aumenta o espaçamento das letras */
}

#nossas_viagens .image-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px;
    flex-wrap: wrap;
}

#nossas_viagens .image-item {
    text-align: center;
    width: 300px;  /* Ajuste a largura como preferir */
}

/* Estilo específico para a primeira imagem */
#nossas_viagens .image-1 {
    background-size: cover;
    background-position: center center;
    width: 150%;
    height: 500px;  /* Tamanho maior */
    border-radius: 5%;
    margin-bottom: 10px;
    text-align: center;
    margin-left: 0px; /* Ajuste conforme necessário */
}

/* Estilo específico para a segunda imagem */
#nossas_viagens .image-2 {
    background-size: cover;
    background-position: center center;
    width: 150%;
    height: 500px;  /* Tamanho maior */
    border-radius: 5%;
    margin-bottom: 10px;
    text-align: center;
    margin-left: -50px; /* Ajuste conforme necessário */
}

/* Estilo específico para a terceira imagem */
#nossas_viagens .image-3 {
    background-size: cover;
    background-position: center center;
    width: 150%;
    height: 500px;  /* Tamanho maior */
    border-radius: 5%;
    margin-bottom: 10px;
    text-align: center;
    margin-left: -150px; /* Ajuste conforme necessário */
}

#nossas_viagens .image-4 {
    background-size: cover;
    background-position: center center;
    width: 150%;
    height: 500px;  /* Tamanho maior */
    border-radius: 5%;
    margin-bottom: 10px;
    text-align: center;
    margin-left: 0px; /* Ajuste conforme necessário */
}

#nossas_viagens .image-5 {
    background-size: cover;
    background-position: center center;
    width: 150%;
    height: 500px;  /* Tamanho maior */
    border-radius: 5%;
    margin-bottom: 10px;
    text-align: center;
    margin-left: -50px; /* Ajuste conforme necessário */
}

/* Estilo específico para a terceira imagem */
#nossas_viagens .image-6 {
    background-size: cover;
    background-position: center center;
    width: 150%;
    height: 500px;  /* Tamanho maior */
    border-radius: 5%;
    margin-bottom: 10px;
    text-align: center;
    margin-left: -150px; /* Ajuste conforme necessário */
}









.buttoninstagram {
    margin: 0px 10px 10px 0px;
    position:fixed;
    width:51px;
    height:51px;
    bottom:15px;
    right:15px;
    border-radius:100px;
    text-align:center;
    font-size:30px;
    z-index:999997;
}
.buttoninstagram:hover {
    animation: pulsate 1s ease-in-out;
}

.imageinstagram {
    width:60px;
    height:60px;
    box-shadow: none;
}


.buttonwhatsapp {
    margin: 0px 10px 20px 10px;
    position:fixed;
    width:50px;
    height:50px;
    bottom:75px;
    right:15px;
    border-radius:50px;
    text-align:center;
    font-size:30px;
    z-index:999997;
    
}

.buttonwhatsapp:hover {
    animation: pulsate 1s ease-in-out;
    box-shadow: none;
    border-radius: 100px rgb(0, 255, 0);
    border-radius:50px;
    z-index:999997;
}

.imagewhatsapp {
    width:60px;
    height:60px;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}

/* Estilos comuns para os rodapés */
footer {
    text-align: center; /* Centraliza o texto dentro do footer */
    padding: 20px 0; /* Reduz o espaçamento superior e inferior */
    background-color: #333; /* Cor de fundo do footer */
}

/* Estilo para o conteúdo do footer */
footer p, footer h2 {
    margin: 5px 0; /* Reduz o espaço entre os elementos */
    font-size: 14px; /* Ajusta o tamanho da fonte para telas menores */
}

/* Estilo do email no footer */
footer h2 {
    font-size: 18px; /* Tamanho padrão para o email */
    font-weight: normal; /* Deixa o h2 sem negrito */
    color: #fff; /* Ajusta a cor do texto para branco */
}

/* Rodapé para celulares */
#footer-celular {
    display: block; /* Exibe o footer para celulares */
}

/* Rodapé para PC - começa oculto */
#footer-pc {
    display: none; /* O rodapé do PC começa oculto */
}

/* Ajustes específicos para telas maiores (PC) */
@media (min-width: 768px) {
    /* Rodapé para PCs */
    #footer-pc {
        display: block; /* Exibe o footer para PC */
    }

    /* Rodapé para celulares */
    #footer-celular {
        display: none; /* O footer para celulares será oculto em telas maiores */
    }

    /* Ajustes para o conteúdo do rodapé em telas maiores */
    footer p, footer h2 {
        font-size: 16px; /* Ajusta o tamanho da fonte para o texto padrão */
    }

    footer h2 {
        font-size: 24px; /* Aumenta o tamanho do email no desktop */
    }
}


