@charset "UTF-8";

body {
    background-image: url(imagens/imagemfundo.jpeg);
    background-size: cover;
    background-repeat: none;
    background-attachment: fixed;
}   

body.pagina2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* preto com 50% de transparência */
    z-index: 0;
}

.page2 {
    background-color: rgba(0, 0, 0, 0.404);
}

.h1 , .p {
    text-align: center;
}
.carrosel-width {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
}
#carouselExample {
    margin-top: 20px;
}

.carousel-item img {
    border-radius: 15px !important;
}

#h2-carousel {
    text-align: center;
    color: #FFFFFF!important;
    z-index: 1;
}
p{
    text-align: center;
    position: relative;
    z-index: 1;
}

