@charset "UTF-8";

/*
https://jjeturismo.com/site/
https://ricardoturismo.com.br/roteiros.php
https://luatur.com.br/sobre/
https://www.facebook.com/FloripaTour/
*/



body {
    background-image: url(imagens/onibusazul.jpg) !important;
    background-color: #0D6EFD;
    background-size: cover;
    background-repeat: none;
    background-attachment: fixed;
    background-position: center center;
}   

body.pagina2::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* preto com 50% de transparência */
    z-index: 0;
}
.background-nav {
    background-image:linear-gradient(to top,#0D6EFD 70%,#013175) !important;
}



.width-logo {
    width: 200px;             
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.page2 {
    background-color: rgba(0, 0, 0, 0.404);
}

.navbar {
    padding-bottom: 15px !important;
    padding-top: 15px !important;
}

.navbar-brand {
    padding-left: 100px;
}


.carousel {
    border-radius: 15px;
    overflow: hidden;
}


.carrosel-width {
    background-color: rgbargba(0, 0, 0, 0.5);
    padding: 10px;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
}
#carouselExample {
    margin-top: 20px;
}

.carousel-item img {
    border-radius: 15px;
}
.carousel-item.active img {
    border-radius: 15px;
}
#h2-carousel {
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
    color: #FFFFFF!important;
    z-index: 1;
}
p{
    text-align: center;
    position: relative;
    z-index: 1;
}