@charset "UTF-8";

/*
https://jjeturismo.com/site/
https://ricardoturismo.com.br/roteiros.php
https://luatur.com.br/sobre/
https://www.facebook.com/FloripaTour/
*/


#body-1 {
    background-image: url(imagens/estrada-fundo-grande.jpg) !important;
    background-color: #0D6EFD;
    background-size: cover;
    background-repeat: none;
    background-attachment: fixed;
    background-position: bottom center;
}   
@media (max-width: 1500px) {
    #body-1 {
        background-image: url(imagens/estrada-fundo-grande.jpg) !important;
    }
}
@media (max-width: 900px) {
    #body-1 {
        background-image: url(imagens/estrada-fundo-media.jpg) !important;
    }
}

#body-1::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image:linear-gradient(to top,#1070ff85,#0957c486) !important;    
    z-index: 0;
}

#body-2 {
    background-image: url(imagens/imagemmmfuyndoo.jpg) !important;
    background-color: #0D6EFD;
    background-size: cover;
    background-repeat: none;
    background-attachment: fixed;
    background-position: center center;
}   
@media (max-width: 1240px) {
    body {
        background-image: url(imagens/imagem-media-fundp.jpeg) !important;
    }
}
@media (max-width: 900px) {
    body {
        background-image: url(imagens/imagem-peq-fundo.jpeg) !important;
    }
}
#body-2::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image:linear-gradient(to top,#1070ff85,#0957c486) !important;
    z-index: 0;
}


#body-3 {
    background-image: url(imagens/estrada-fundo.jpg) !important;
    background-color: #0D6EFD;
    background-size: cover;
    background-repeat: none;
    background-attachment: fixed;
    background-position: bottom center;
}   
#body-3::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image:linear-gradient(to top,#1070ff85,#1875f79a) !important;
    z-index: 0;
}



.background-nav {
    background-image:linear-gradient(to top,#0D6EFD 0%,#013175) !important;
}

.navbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px; /* espaçamento entre os itens */
    width: 100%;
    padding-left: 0;
    margin: 0 auto;
}
.container-fluid {
    position: relative;
}

.width-logo-page1 {
    width: 200px;
    position: absolute;
    top: -40px; /* Sobe a logo */
    left: 4 5px; /* Ajuste lateral, se quiser */
    z-index: 10; /* Garante que fique por cima */
}

.width-logo-pag2 {
    width: 200px;
    position: absolute;
    top: -40px; /* Sobe a logo */
    left: 4 5px; /* Ajuste lateral, se quiser */
    z-index: 10; /* Garante que fique por cima */
}
.width-logo-page3 {
    width: 200px;
    position: absolute;
    top: -40px; /* Sobe a logo */
    left: 4 5px; /* Ajuste lateral, se quiser */
    z-index: 10; /* Garante que fique por cima */
}
.page2 {
    background-color: rgba(0, 0, 0, 0.404);
}




.navbar {
    padding-bottom: 20px !important;
    padding-top: 20px !important;
}

.navbarNav {
    text-align: center !important;
}

.navbar-Nav {
    padding: px 0px !important;
}

.navbar-brand {
    padding-left: 100px;
}
.menu-centralizado {
  text-align: center; 
  padding: 0;
  list-style: none;
}

.menu-centralizado li {
  display: inline-block;
  margin: 0px 0px;
}
.onibus-img {
    position: absolute;
    top: 50px;
    right: 0;
    transform: scaleX(-1);
    width: 100%;
    max-width: 800px;
    height: auto;
  }

  @media (max-width:300px) {
    .onibus-img {
      max-width: 100%; /* mais compacto em telas pequenas */
      top: 110px; /* empurra a imagem mais para baixo */
      visibility: hidden;

    }
  }
 

.carousel {
    border-radius: 15px;
    overflow: hidden;
}


.carrosel-width {
    background-color: rgbargba(0, 0, 0, 0.5);
    padding: 10px;
    min-width: 300px;
    max-width: 1000px;
    margin: 0 auto;
}
#carouselExample {
    margin-top: 20px;
}

.carousel-item img {
    border-radius: 15px;
}
.carousel-item.active img {
    border-radius: 15px;
}
#h2-carousel {
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
    color: #FFFFFF!important;
    z-index: 1;
}
p{
    text-align: center;
    position: relative;
    z-index: 1;
}

.onibus-png {
    
}
/* Estilo base do botão do WhatsApp */
.whatsapp-button {
    position: fixed;
    bottom: 75px;
    right: 15px;
    background-color: #25D366;
    color: black;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-size: 0;
    text-align: center;
    cursor: pointer;
    z-index: 10000;
}

.whatsapp-button img {
    width: 50px;
    height: 50px;
}

/* Ajustes para telas menores */
@media (max-width: 768px) {
    .whatsapp-button {
        bottom: 20px;
        right: 10px;
        padding: 10px;
    }

    .whatsapp-button img {
        width: 30px;
        height: 30px;
    }
}
